* {
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
}

body {
    margin: 0 auto;
    padding: 15px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    background-color: rgb(153 246 228);
    color: #424242;
}

.splash {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 250;
    display: flex;
    width: 100vw;
    height: 100vh;
    background-color: rgb(153 246 228);
    box-shadow: 0px 50px #aaa;
}

.splash .center h1 {
    margin-top: -10px;
    font-family: "Sigmar One", cursive;
    font-size: 3em;
    font-weight: normal;
    color: #7879b9;
    -webkit-text-stroke: 2px #4a5f6c;
}

.splash .center {
    width: 100%;
    margin: auto;
}

.splash .center img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

.splash .center h1 {
    margin-top: 2px;
    font-size: 25px;
}

.splash .center button{
    margin-top: 10px;
    padding: 15px 30px;
    font-size: 1.25em;
	line-height: 1em;
	background-color: rgb(167 139 250);
	color: #fff;
	border: none;
	border-radius: 50px;
	box-shadow: 0 8px 0 #6869a1;
}

.splash .center button:active {
    transform: translateY(8px);
    box-shadow: none;
}

header .profile-container img {
    width: 250px;
    height: 250px;
    border-radius: 50%;
}

header .profile-container {
    width: 250px;
    height: 250px;
    margin: 15px auto;
    /* padding: 3px; */
    background: #fff;
    border: solid 2px #ddd;
    border-radius: 50%;
}

header h1 {
    font-weight: 900;
    font-size: 28px;
    color: #7879b9;
}

header p {
    margin: 0 auto 30px;
    padding: 0 15px;
    color: #7879b9;
}

section ul {
    padding: 10px;
    list-style: none;
}

section ul li {
    margin: 0 auto;
}

section ul li:not(:first-child){
	padding-top: 5px;
}

section ul li a {
    background-color: rgb(167 139 250);
    display: inline-block;
    width: 50%;
    padding: 15px;
  
    color: #fff;
    border: solid 2px #7879b9;
    border-radius: 5px;
    transition: .25s;
}

section ul li a:hover {
    background: transparent;
	color: #7879b9;
}


@media screen and (max-width: 640px) {
    section ul li {
        width: 100%;
    }

    section ul li a {
        background-color: rgb(167 139 250);
        width: 100%;
    }
}
